<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Consultar</h1>
    </div>

     <div class="panel-body">
        <div class="col-lg-12">
          <form [formGroup]="formBusca" >
            <div class="col-lg-3 form-group">
              <div class="col-lg-12 form-group">
                <input class="form-control" formControlName="busca" placeholder="Informe o que deseja Filtrar"/>
              </div>
            </div>
          </form>
        </div>

      <div class="col-lg-12">
        <div class="col-lg-3 form-group">
          <div class="col-lg-12 form-group">
            <button class="btn btn-primary form-control" type="submit"
              (click)="buscaArquivo(formBusca.value)">
              <i class="fa fa-floppy-o"></i>
              Filtrar
            </button>  
          </div> 
        </div> 
      </div>                                  
    </div>

     <div class="panel-footer">
        <p>{{ this.exibir }}</p>
     </div>
  </div>
</div>
